body {
  background: linear-gradient(to bottom, red, green, blue);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  /* font-family: "Ubuntu", sans-serif;
  font-family: "Work Sans", sans-serif; */
}
canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("assets/space-background.jpg");
  background-size: cover;
  background-position: center;
}

#collisionCanvas {
  opacity: 0;
}

#foobar {
  display: none;
}
